name: Playwright Tests

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    env:
      ORANGEHRM_BASE_URL: http://your-server-url/orangehrm-5.7/web/index.php

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: lts/*

    - name: Install dependencies
      run: npm ci
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.1'

    - name: Start OrangeHRM server
      run: |
        php -S localhost:8080 -t orangehrm-5.7/web > server.log 2>&1 &
        sleep 3

    - name: Wait for server
      run: npx wait-on http://localhost:8080 --timeout 60000

   

    - name: Install Playwright Browsers
      run: npx playwright install --with-deps

    - name: Run Playwright tests (JUnit + HTML)
      env:
          BASE_URL: http://localhost:8080
      run: |
        npx playwright test --reporter=line,junit,html
        

    # Upload HTML Report
    - name: Upload Playwright HTML Report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: playwright-html-report
        path: playwright-report/
        retention-days: 30

    # Upload JUnit file (for Xray)
    - name: Upload JUnit Report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: junit-report
        path: test-results/junit.xml
        retention-days: 30
    - name: Check PHP version
      run: php -v
    - name: Check running process
      run: ps aux | grep php
